:root {
  --purple: #8c52ff;
  --black: #000000;
  --red: #ff528c;
  --otherred: #330011;
  --white: #fae5ff;
  --otherpurple: #aa80ff;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  /* background: transparent; */
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border: var(--purple) 0.1rem solid;
  border-radius: 15px;
}

body {
  background-color: var(--white);
  color: var(--white);
  background-image: linear-gradient(
    to bottom left,
    var(--white) 50%,
    var(--otherpurple) 150%
  );
  transition: 0.5s;
}

#navbar {
  top: 0;
  width: auto;
  height: 4rem;
  z-index: 1;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--white) 70%, rgba(255, 0, 0, 0));
  margin-top: -0.6rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

#navbar a {
  width: auto;
  height: auto;
  color: var(--purple);
  padding: 0.3rem;
  margin-top: -1.3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 0.7rem;
  text-decoration: none;
  font-family: Russo One;
  transition-duration: 1s;
  border: transparent solid 1px;
}

#navbar a:hover {
  transition-duration: 1s;
  color: var(--purple);
  border: var(--purple) solid 1px;
  transform: scale(1.1);
}

#navbar #mode {
  position: absolute;
  background-color: transparent;
  border: none;
  margin-top: -1.3rem;
  right: 0;
}

#navbar .buttons {
  position: absolute;
  right: 0;
  background-color: transparent;
}

#navbar .buttons .darkMoon {
  background-color: transparent;
  border: none;
  display: ;
}

#navbar .buttons .lightSun {
  background-color: transparent;
  border: none;
  display: ;
}

#welcome {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--red);
}

#profilePic img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  border-radius: 50px;
  height: 250px;
  width: 250px;
  transition-duration: 1s;
}

#profilePic img:hover {
  transition-duration: 1s;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0);
}

/* .Pic {
  border: red dotted 1px;
  width: 300px;
  height: 300px;
} */

#welcomeText {
  font-family: Russo One;
  font-size: 2rem;
  margin-left: 2rem;
}

.hello {
  font-family: Russo One;
  font-size: 3rem;
  color: var(--purple);
  text-shadow: 0 0 5px var(--purple);
  transition-duration: 1s;
}

.web {
  letter-spacing: 0.1rem;
  color: var(--purple);
  text-shadow: 0 0 5px var(--purple);
  transition-duration: 0.5s;
}

.web:hover {
  transition-duration: 0.5s;
  color: var(--red);
  text-shadow: 0 0 6px var(--purple);
  font-size: 2.08rem;
}

#project1 {
  display: flex;
  justify-content: space-evenly;
}

#project2 {
  display: flex;
  justify-content: space-evenly;
}

.Projecttile {
  height: 15rem;
  width: 20rem;
  /* border-bottom: var(--purple) solid 2px; */
  border: 2px solid var(--purple);
  border-radius: 20px;
  background-image: linear-gradient(
    to bottom,
    transparent,
    var(--otherpurple) 200%
  );
  transition-duration: 1s;
}

.Projecttile:hover {
  transform: translateY(-0.6rem) scale(1.05);
  transition-duration: 1s;
}

.spaceProject {
  height: 15rem;
}

#Footer {
  margin-top: 10rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Footer a {
  margin: 3rem;
  padding: 0.6rem;
  border-radius: 1rem;
  border: solid var(--purple) 0.2rem;
  box-shadow: 0 0 50px var(--purple), 0 0 100px var(--purple);
  transition-duration: 0.5s;
}

#Footer a:hover {
  transition-duration: 0.5s;
  transform: scale(1.2);
  border: solid var(--purple) 0.17rem;
  box-shadow: 0 0 70px var(--purple), 0 0 15px var(--purple);
}

.sign {
  color: var(--purple);
  text-align: end;
  font-family: Rationale;
}
